<h1>Lab Mongoose Movies</h1>
<p>Welcome to Lab Mongoose Movies</p>
<a href='/celebrities'>List of Celebrities</a>

{{#each celebrities}}
  <a href='/celebrities/{{_id}}'>
    <h3>{{name}}</h3>
  </a>
{{/each}}